.error {
	color: #5a5c69;
	position: relative;
	line-height: 1;
	font-size: inherit !important;;
	width: 100% !important;
}
.placeholderrd {
    position: relative;
    display: block;
}

.placeholderrd::after {
    position: absolute;
    right: 5px;
    top: 10px;
    content: attr(data-placeholder);
    pointer-events: none;
    font-size: 18px;
    font-weight: bold;
}